# bağımlılıklar
/node_modules
/.pnp
.pnp.*

# test & derleme çıktıları
/coverage
/.next/
/out/
/build
/dist

# çevre değişkenleri (gizli anahtarlar — asla yüklenmez)
.env
.env*.local

# log & sistem dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
